---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';

const titles: string[] = [
	"Tienda de souvenirs digitales",
	"¿Estás ahí?",
	"Un blog más",
	"Software Engineering + Computer Science",
	"Hablemos de videojuegos",
	"48 4F 4C 41",
	"Cometh forth"
]

const title = titles[Math.floor(Math.random() * titles.length)];

---

<header class="my-4 text-center">
	<h2 class="text-2xl my-4">
		{title}
	</h2>
	<nav>
		<HeaderLink href="/">Inicio</HeaderLink> |
		<HeaderLink href="/blog">Blog</HeaderLink> |
		<HeaderLink href="/about">Sobre mí</HeaderLink> |
		<HeaderLink href="https://github.com/christian-tejeda" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
