---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="my-4 text-center capitalize">
	<h2 class="my-4 text-lg">
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href="/">Inicio</HeaderLink> |
		<HeaderLink href="/blog">Blog</HeaderLink> |
		<HeaderLink href="/about">Sobre mí</HeaderLink> |
		<HeaderLink href="https://github.com/christian-tejeda" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
