---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props as Props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={['font-mono', 'text-lg', 'text-indigo-500', 'hover:text-indigo-800', { active: isActive }]} {...props}>
	<slot />
</a>
